@font-face {
  font-family: "myfont";
  src: url("/birthday.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("/assets/fonts/MyFont-Bold.ttf") format("truetype");
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/background.jpeg");
    background-size: cover;
    height: 140vh;
}
html{
    font-size: 16px;
    font-family: "MyFont", sans-serif;
    font-weight: 900;
}
.content{
    padding: 10px 20px;
}
.start-image{
    width: 100%;
    height: fit-content;
    background-size: cover;
}

.line-1{
    color: #fff;
    width: 100%;
    text-align: start;
    font-size: 24px;
}
.line-2{
    color: #fff;
    width: 100%;
    text-align: start;
    opacity: 0.7;
}
.lin-2{
    color: #fff;
    width: 100%;
    text-align: start;
    font-size: 20px;
    opacity: 1 !important;
}
.images{
    display: flex;
    overflow-x: auto;
    gap: 15px;
    margin-top: 10px;
    scrollbar-width: none; 
   -ms-overflow-style: none;
}
.images::-webkit-scrollbar {
  display: none;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7{
    width: 100%;
}
.img-1 img, .img-2 img, .img-3 img, .img-4 img, .img-5 img, .img-6 img, .img-7 img{
    width: 150px;
    border-radius: 25px;
    background-size: cover;
}
.calendar-img{
    width: 100%;
    background-size: cover;
    margin-top: 10px;
}
.calendar-img img{
    width: 100%;
    border-radius: 15px;

}